body, ul, li, header,main, footer{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: "Galindo",sans-serif;
}
html{
    background: linear-gradient(#4CA1AF, #C4E0E5);
    color: aliceblue;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

h1{
    padding-right: 6rem;
    font-size: 2rem;
}

#header {
    display:flex; 
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgb(174, 244, 255);
}

nav ul{
    display: flex;
}

li {
    font-size: 1.15rem;
    padding: .5rem 1.2rem;
    border-radius: 1rem;
}

li:hover{
    background-color:#C4E0E5;
    color: rgb(255, 204, 0);
    font-size: scale(1.1);
    transform-origin:center;
    
}

.root-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap:2rem;
}
p,
label {
    font:
    1rem 'Fira Sans',
    sans-serif;
}

.button{
    padding:.75rem 1rem;
    margin-left: 2.5rem;
    color:rgb(0, 0, 0);
    background-color: rgb(56, 137, 155);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    color: aliceblue;
    display: none;
}
.button:hover{
    background-color: rgba(29, 90, 163, 0.7);
    cursor: pointer;
}


fieldset{
    margin-top: 2rem;
    padding: 2rem 8rem;
    display: flex;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid blue;
}


#set-diff{
    margin-left:1.5rem;
}

#strButton{
    padding:.55rem 0.75rem;
    color:rgb(255, 255, 255);
    background-color: rgb(56, 137, 155);
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-family: "Galindo", sans-serif;
    
}

#strButton:hover{
    background-color: rgba(29, 90, 163, 0.7);
    cursor: pointer;
}

#timer-section{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5rem;
}

#timer{
    padding: 0 3rem;
    display: inline-block;
    font-size: 2.5rem;
    border-radius: 10px;
    height:3rem;
    width:15rem;
    text-align: center;
}

footer{
    height:12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid aliceblue;
    font-size: 1.5rem;
}

#user-input{
    margin-top: 3rem;

}

#main-game{
    width:100%;
    height:30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#word-tapped{
    display: inline-block;
    width: 25rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: 1px solid #333;
    font-size: 1.8rem;
}

#wordChosen{
    font-size: 3rem;
    margin-top: 2rem;
}

#timer-bar{
    width:30rem;
    height: 2rem;
    top: 0;
    left: 0;
    background-color: #a0ff97;
    border-radius: 2rem;
    position: absolute;
}

#timer-bar-wrapper{
    width:30rem;
    height: 2rem;
    background-color: #e2e2e2;
    margin-top: 2rem;
    border-radius: 2rem;
    position: relative;
}